<template name="gameDetail">
    <div>
        <p>
            <b>You are currently</b>:
            {{#if userInGame}}
                Logged Into Game
            {{else}}
                Logged Out of Game
            {{/if}}
        </p>

        Current Users:
        <ul>
        {{#each users}}
            <li>{{name}}</li>
        {{/each}}
         </ul>

    </div>


    <button class="btn btn-danger leave-game {{#if userInGame}}{{else}}disabled{{/if}}">
        <div>
            <i class="mdi-navigation-close"></i>
        </div>
        Leave
    </button>

    <!-- Disable if already joined or at capacity-->
    <button class="btn btn-primary join-game {{#if userInGame}}disabled{{/if}}">
        <div>
            <i class="mdi-social-person-add"></i>
        </div>
        Join
    </button>

    <!-- Disable if not enough users or already started -->
    <button class="btn btn-success start-game {{#if userInGame}}{{else}}disabled{{/if}}">
        <div>
            <i class="mdi-av-play-arrow"></i>
        </div>
        Start
    </button>

    <div class="hand">
        {{#each hand}}
            {{> card}}
        {{/each}}
    </div>

</template>

<template name="card">
    <div class="card" style="top:{{cardHeight index}}px;">
        <div class="card-number top" style="left:{{numberWidth number}};">{{number}}</div>
        <div class="card-title">RACK-EM</div>
        <div class="card-number bottom" style="right:{{numberWidth number}};">{{number}}</div>
    </div>
</template>