
<template name="games">
    <ul class="game-list list-group">
        {{#each games}}
            {{> game}}
        {{/each}}
    </ul>
</template>

<template name="game">
    <li class="list-group-item">
        <span class="badge" title="{{users.length}} user(s) already joined">
            {{users.length}}
        </span>
        <span title="{{createdAt}}">
            {{prettifyDate createdAt}}
        </span>
        -
        <a href="game/{{_id}}">
            Enter Game
        </a>
    </li>
</template>